<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>{{ page.title }} by {{ site.profile_name }} [{{ site.owner_name }}]</title>
  </head>

  <body onresize="resizeArtCanvas()">

    <header>
      <div class="container">
        <h1>{{ page.title }}</h1>
        <h2>by {{ site.profile_name }} [{{ site.owner_name }}]</h2>
      </div>
    </header>

    <div class="container">
        <section id="main_content">
            <div id="wrapArtCanvas" style="width: 100%; height: auto;">
                <canvas id="ArtCanvas"></canvas>
            </div>
            <script type="text/javascript" src="JavaScript/jquery.js"></script>
            <script type="text/javascript" src="JavaScript/alphabet.js"></script>
            <script type="text/javascript" src="JavaScript/bubble.js"></script>
            <script type="text/javascript">
                function resizeArtCanvas()
                {
                    var myCanvasWidth = document.getElementById("wrapArtCanvas").offsetWidth;
                    bubbleMultiplier=myCanvasWidth*0.001;
                    updateCanvasDimensions();
                    bounceBubbles();
                }
                var limegreen=[120,80,40];
                var red=[0,100,63];
                var orange=[40,100,60];
                var green=[75,100,40];
                var blue=[196,77,55];
                var purple=[280,50,60];
                var letterColors=[red,orange,green,blue,purple,limegreen];
                var bubbleText="Wel-Come !";
                canvas=$("#ArtCanvas");
                bubbleShape="circle";
                drawName(bubbleText,letterColors);
                resizeArtCanvas();
            </script>
            <hr>
        </section>
    </div>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
    
    <div class="container">
        <hr>
        <h1>By Dark❶</h1>
    </div>
    
    <hr>
    
    <footer>
      <div class="container">
        <a href="{{ page.id }}">Refresh This Page</a>
      </div>
    </footer>
    
    <hr>
    
  </body>
</html>
